html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
.tab {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 43px;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
  }

.main-header-nav {
    position: relative;
    width: 100%;
    height: 2.7rem;
    background-color: white;
    padding: 0 0;
    display: block;
    align-items: center;
  }

  #nav-head {
    position: relative;
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	padding: 0;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;  }
#nav-head ul {
	list-style: none;
	width: 100%;
	margin-bottom: 0 ;
	padding: 0; }
#nav-head li {
	float: left; }
#nav-head li a {
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	border-right: 1px solid #ccc; }
#nav-head li:first-child a {
	border-left: 1px solid #ccc; }
#nav-head li a:hover {
	color: white;
	background-color:black; }
.body {
    background-color: black;
    text-align:center;
}

h1{
    color: black;
}
h4{
    color: white;
    margin-left: 350px;
    text-align: left;
    
}

h1:hover{
    color: rgb(109, 0, 0)
    
}
hr{
    border: 3px solid black;
        border-radius: 2px;
}
#form{
    position: relative;
    float:left;
    align-self: center;
    align-items: center;
    background-color:white;
    margin: 20px;
    margin-left: 350px;
    display: flex;
    flex-direction: row;
    justify-content:left; 
    text-align: left;
    color: white;
    bottom: 0;
} 


label {
display:inline-table;
font-family: sans-serif;
text-decoration:dashed;
font-weight: bold;
color:black ;
margin-top: 5px;
margin-left: 5px;
margin-right:5px ;
}

#message {
width:50%;
border-radius: 1px;
border-color: #ccc;


}  

.sub{
    color: white;
    align-self: center;
    align-items: center;
    text-align: centre;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid white;
    font-weight: bold;
    font-family:sans-serif;
    background-color: black;
}

.sub:hover {
    text-decoration: underline;
    background-color:white;
    color: black;
    border: 2px solid black;
}


.form1{
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	font-weight: bold;
	color: #000000;
    margin-left: 20px;
 }
   
.chatlist{   
        position: relative;  
        align-self: center;
        align-items: center;
        display: block; 
        text-align: centre;
        padding: 10px;
        border-radius: 5px;
        border: 2px solid black;
        background-color: grey;
        margin-left: 350px;
        margin-right: 50px;
        
    }

    .scroll{
        margin-top: 20px;
        overflow:scroll;
        overflow-x:hidden;
        height: 540px;
    }

    .msg{
        padding: 2px;
        text-align: left;
        overflow-wrap: break-word;
        font-style: oblique;
        font-size: medium;
        font-family: 'Arial Narrow Bold', sans-serif;
        color: white;
        list-style-type: none;
    }

    .btn{
        
        color:white;
        align-self: left;
        align-items: center;
        text-align: left;
        overflow-wrap: break-word;
        padding: 10px;
        border-radius: 5px;
        margin-left: 0px;
        border: 2px solid #ccc;
        font-weight: bold;
        font-family:sans-serif;
        background-color:black ;
        width:225px;
        
    }

    .group-name{
        overflow-wrap: break-word;
        text-align: left;
        list-style-type: none;
    }

  
      
    .scroll1{
        
        overflow:scroll;
        overflow-x:hidden;
        height: 100%;
    }

    .form2{
        
        position: relative;
        float:right;
        align-self: center;
        align-items: center;
        background-color:white;
        margin: 20px;
        margin-right: 10px;
        display: flex;
        flex-direction: row;
        justify-content:right; 
        text-align: left;
        color: white;
        bottom: 0;

        
    }
    

    