.main-header-nav {
    width: 100%;
    height: 2.7rem;
    background-color: white;
    padding: 0 0;
    display: block;
    align-items: center;
  }

  #nav-head {
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	padding: 0;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;  }
#nav-head ul {
	list-style: none;
	width: 100%;
	margin-bottom: 0 ;
	padding: 0; }
#nav-head li {
	float: left; }
#nav-head li a {
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	border-right: 1px solid #ccc; }
#nav-head li:first-child a {
	border-left: 1px solid #ccc; }
#nav-head li a:hover {
	color: white;
	background-color:black; }
.body {
    background-color: black;
    text-align:center;
}

h1{
    color: white;
}
h1:hover{
    color: rgb(109, 0, 0)
    
}

#form{
    background-color:white;
    margin-top: 80px;
    display: inline-block;
    justify-content: center;
    text-align: left;
    color: white;
} 


label {
display:inline-table;
font-family: sans-serif;
text-decoration:dashed;
font-weight: bold;
color:black ;
margin-left: 20px;
margin-right:20px ;
}

input {
margin-left: 20px;
margin-right:20px ;
margin-bottom: 5px;

}  

.sub {
    display: block;
    margin-top: 5px;
	padding: 5px 10px;
	text-decoration: none;
	font-weight:lighter;
	color: #000000;
	border-right: 1px solid #ccc;   
}
.sub:hover {
	color: white;
	background-color:black; }

#nav-link a{
    display: block;
	padding: 5px 10px;
	text-decoration: none;
	font-weight:bold;
	color: #000000;
	border-right: 1px solid #ccc;   
}

#nav-link a:hover {
	color: white;
	background-color:black; }